In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
arr = np.array([[1,2,np.nan],[np.nan,3,4]])

In [5]:
dframe1 =DataFrame(arr,index=['A','B'],columns=['one','two','three'])

In [6]:
dframe1

   one  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [8]:
dframe1.sum()

one      1.0
two      5.0
three    4.0
dtype: float64

In [10]:
dframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [11]:
dframe1.mean()

one      1.0
two      2.5
three    4.0
dtype: float64

In [12]:
dframe1.mean(axis=1)

A    1.5
B    3.5
dtype: float64

In [13]:
dframe1.min()

one      1.0
two      2.0
three    4.0
dtype: float64

In [14]:
dframe1

   one  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [16]:
dframe1.idxmin()

one      A
two      A
three    B
dtype: object

In [18]:
dframe1.idxmin(axis=1)

A    one
B    two
dtype: object

In [19]:
dframe1

   one  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [20]:
dframe1.cumsum()

   one  two  three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [21]:
dframe1.describe()

C:\Users\john\Anaconda3\lib\site-packages\numpy\lib\function_base.py:4269: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

       one       two  three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    NaN  2.250000    NaN
50%    NaN  2.500000    NaN
75%    NaN  2.750000    NaN
max    1.0  3.000000    4.0

In [22]:
from IPython.display import YouTubeVideo

In [33]:
from pandas.datareader import data

ImportError: No module named 'pandas.datareader'

In [34]:
import datetime

In [30]:
prices = pdweb.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),
                             end=datetime.datetime(2013,1,1))['Adj Close']
prices.head()

C:\Users\john\Anaconda3\lib\site-packages\pandas\io\data.py:353: SymbolWarning: Failed to read symbol: 'CVX', replacing with NaN.
  'NaN.'.format(sym), SymbolWarning)
C:\Users\john\Anaconda3\lib\site-packages\pandas\io\data.py:353: SymbolWarning: Failed to read symbol: 'XOM', replacing with NaN.
  'NaN.'.format(sym), SymbolWarning)
C:\Users\john\Anaconda3\lib\site-packages\pandas\io\data.py:353: SymbolWarning: Failed to read symbol: 'BP', replacing with NaN.
  'NaN.'.format(sym), SymbolWarning)

RemoteDataError: No data fetched using '_get_hist_yahoo'

In [28]:
prices.head()

NameError: name 'prices' is not defined

In [37]:
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
%matplotlib inline

In [40]:
ser1 = Series(['w','w','x','y','z','w','x','y','x','a'])
ser1

0    w
1    w
2    x
3    y
4    z
5    w
6    x
7    y
8    x
9    a
dtype: object

In [41]:
ser1.unique()

array(['w', 'x', 'y', 'z', 'a'], dtype=object)

In [42]:
ser1.value_counts()

w    3
x    3
y    2
a    1
z    1
dtype: int64