In [23]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [24]:
obj = Series([3,6,9,12])

In [25]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [26]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [27]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
ww2_cas=Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

In [29]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [30]:
ww2_cas['USA']

400000

In [31]:
#check which countries hd cas greater than 4mill

In [32]:
ww2_cas[ww2_cas >4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [33]:
'USSR' in ww2_cas

True

In [34]:
ww2_dict = ww2_cas.to_dict()

In [35]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [36]:
ww2_series=Series(ww2_dict)

In [37]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [45]:
countries =['China','germany','japan','usa','ussr','argentina']

In [46]:
obj2 = Series(ww2_dict,index=countries)

In [47]:
obj2

China        3000000.0
germany            NaN
japan              NaN
usa                NaN
ussr               NaN
argentina          NaN
dtype: float64

In [48]:
pd.isnull(obj2)

China        False
germany       True
japan         True
usa           True
ussr          True
argentina     True
dtype: bool

In [49]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [50]:
obj2

China        3000000.0
germany            NaN
japan              NaN
usa                NaN
ussr               NaN
argentina          NaN
dtype: float64

In [51]:
ww2_series+obj2

China        6000000.0
Germany            NaN
Japan              NaN
USA                NaN
USSR               NaN
argentina          NaN
germany            NaN
japan              NaN
usa                NaN
ussr               NaN
dtype: float64

In [52]:
obj2.name='world war 2 casualties'
obj2

China        3000000.0
germany            NaN
japan              NaN
usa                NaN
ussr               NaN
argentina          NaN
Name: world war 2 casualties, dtype: float64

In [53]:
obj2.index.name='contries'
obj2

contries
China        3000000.0
germany            NaN
japan              NaN
usa                NaN
ussr               NaN
argentina          NaN
Name: world war 2 casualties, dtype: float64

In [54]:
obj2.value.name='casualties'
obj2

AttributeError: 'Series' object has no attribute 'value'