In [14]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [25]:
ser1 = Series([1,2,3,4],index=['a','b','c','d'])

In [26]:
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [27]:
ser2 = ser1.reindex(['a','b','c','d','e','f'])

In [28]:
ser2

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [29]:
ser2.reindex(['a','b','c','d','e','f','g'],fill_value=0)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
g    0.0
dtype: float64

In [30]:
yangyangyang woxiangniladashasha woxiangnila

SyntaxError: invalid syntax (<ipython-input-30-70d51e3a1f32>, line 1)

In [31]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [32]:
ranger = range(15)

In [33]:
ranger

range(0, 15)

In [34]:
ser3.reindex(ranger,method='ffill')
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [35]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [39]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'],
                  columns=['col1','col2','col3','col4','col5'])

In [40]:
dframe

       col1      col2      col3      col4      col5
A  0.007045 -0.037213 -1.569754 -0.944114 -0.120270
B -2.881577 -1.006870  2.245421 -0.130803 -0.620081
D  0.507860  1.840622 -0.941093 -0.641656  0.105882
E  0.360632  0.917208  0.905216 -0.035630 -0.398177
F -2.406437 -0.443849  0.720432 -0.466449  1.244525

In [42]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.007045 -0.037213 -1.569754 -0.944114 -0.120270
B -2.881577 -1.006870  2.245421 -0.130803 -0.620081
C       NaN       NaN       NaN       NaN       NaN
D  0.507860  1.840622 -0.941093 -0.641656  0.105882
E  0.360632  0.917208  0.905216 -0.035630 -0.398177
F -2.406437 -0.443849  0.720432 -0.466449  1.244525

In [44]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [45]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.007045 -0.037213 -1.569754 -0.944114 -0.120270   NaN
B -2.881577 -1.006870  2.245421 -0.130803 -0.620081   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.507860  1.840622 -0.941093 -0.641656  0.105882   NaN
E  0.360632  0.917208  0.905216 -0.035630 -0.398177   NaN
F -2.406437 -0.443849  0.720432 -0.466449  1.244525   NaN

In [46]:
dframe

       col1      col2      col3      col4      col5
A  0.007045 -0.037213 -1.569754 -0.944114 -0.120270
B -2.881577 -1.006870  2.245421 -0.130803 -0.620081
D  0.507860  1.840622 -0.941093 -0.641656  0.105882
E  0.360632  0.917208  0.905216 -0.035630 -0.398177
F -2.406437 -0.443849  0.720432 -0.466449  1.244525

In [47]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.007045 -0.037213 -1.569754 -0.944114 -0.120270   NaN
B -2.881577 -1.006870  2.245421 -0.130803 -0.620081   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.507860  1.840622 -0.941093 -0.641656  0.105882   NaN
E  0.360632  0.917208  0.905216 -0.035630 -0.398177   NaN
F -2.406437 -0.443849  0.720432 -0.466449  1.244525   NaN